*{
    /* background-color: #ced4da; */
}
.h1{
    text-align: center;
    background-color: black;  
    /* box-shadow: 20px 20px 10px white; */
    border-radius: 10px;
width: 50%;
    color: white;
    font-size: 50px;
    margin-top: 20px;
    font-family: serif;
}
.container{
    /* align-items: center; */
    display: flex;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 2px 30px 30px black;
    /* background-color: ; */
    /* width: 400px; */
    flex-direction: column;
    align-items: center;
    
}
.n{
    display: flex;
    align-items: center;
}
.form-control:focus{
    /* outline: 1px solid #ced4da ; */
     /* background-color:white !important; */
     box-shadow: none;
     border:1px solid #ced4da

    /* border: 1px solid white; */
}
.d{
    text-align: center;
    font-weight: bold;
}